includes:
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 6

    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests

    universalObjectCratesClasses:
        - Contao\Model
        - Contao\Module
        - Contao\Template
        - Contao\Form
        - Contao\Widget

    excludePaths:
        - %currentWorkingDirectory%/src/Resources/*
