services:
    _defaults:
        autoconfigure: true
        autowire: true
        public: false

    Xenbyte\ContaoEtracker\:
        resource: ../src/
        exclude: ../src/{ContaoManager,DependencyInjection}

    Xenbyte\ContaoEtracker\EventListener\DataContainer\EtrackerEventDcaHelper:
        public: true

    Xenbyte\ContaoEtracker\Migration\Version100:
        tags:
            - { name: contao.migration, priority: 0 }
